<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Opções do Administrador</title>
</head>
<body>
    <div class="container mx-auto mt-12">
        <h1 class="text-3xl font-bold text-center text-gray-800 mb-6"><%= t('opcoesAdmin.titulo') %></h1>
        <div class="flex justify-center">
            <div class="bg-white shadow-md rounded-lg p-6 w-1/2"> <!-- Caixa elegante -->
                <div class="flex flex-col space-y-4"> <!-- Manter opções em coluna -->
                    <!-- Ver todas as promoções do hotel -->
                    <a href="/admin/promocoes" id="viewPromocoes" class="bg-blue-500 text-white px-4 py-3 rounded-md hover:bg-blue-600 text-center">
                        Listar promoções
                    </a>

                    <!-- Alterar informações do hotel -->
                    <a href="/admin/hoteis" class="bg-yellow-500 text-white px-4 py-3 rounded-md hover:bg-yellow-600 text-center">
                        Visualizar todos os hoteis
                    </a>

                    <a href="/admin/sitesReserva" class="bg-yellow-600 text-white px-4 py-3 rounded-md hover:bg-yellow-600 text-center">
                        Visualizar todos os sites de reserva
                    </a>

                    <a href="/admin/criarPromocao" class="bg-green-500 text-white px-4 py-3 rounded-md hover:bg-green-600 text-center">
                        Criar Promoção
                    </a>

                    <button id="logoutBtn" class="bg-black text-white px-4 py-3 rounded-md hover:bg-black text-center">
                        Logout
                    </button>

                    <a href="/" class="bg-gray-500 text-white px-4 py-3 rounded-md hover:bg-yellow-600 text-center">
                        <%= t('paginaInicial') %>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            const token = localStorage.getItem('token');
            console.log(token);

            if(!token && localStorage.getItem('userType') !== 'admin') {
                console.log('Usuário não autenticado');
                window.location.href = '/admin/login';
            }
        });


        document.getElementById('logoutBtn').addEventListener('click', () => {
            // Remover o token do localStorage
            localStorage.removeItem('token');
            localStorage.removeItem('userType');
                
            console.log('Logout bem-sucedido!');
                
            // Redirecionar para a página de login
            window.location.href = '/admin/login'; // Ajuste o caminho conforme necessário
        });

    </script>
</body>
</html>
